<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        Password Reset
    </title>
</head>

<body>
    <p>
        Hi {{username}},
    </p>
    <p>
        Please click the following link to reset your Password:
    </p>
    <p>
        <a href="{{host}}api/auth/get_reset_token/{{token}}">
            Reset
        </a>
    </p>
    <p>
        If you did not request to reset password, please ignore this message.
    </p>
    <p>
        Thanks,
    </p>
    <p>
        The X Team
    </p>
</body>

</html>